// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as Sandbox from "../../../index.js";

export declare namespace Bash {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Bash {
    protected readonly _options: Bash.Options;

    constructor(_options: Bash.Options) {
        this._options = _options;
    }

    /**
     * Execute a bash command.
     *
     * Status values in `data.status`:
     * - `running`: the process is still executing. Returned immediately for
     *   `async_mode=true`, or when sync mode hits `timeout` before completion.
     * - `completed`: the process exited and `exit_code` is available. This does
     *   not imply success; non-zero shell exit codes still use `completed`.
     * - `timed_out`: the process exceeded `hard_timeout` and was force-killed.
     * - `killed`: the process was terminated by `/v1/bash/kill`, session cleanup,
     *   or an internal execution failure before normal completion.
     *
     * How to consume the result:
     * - Treat `status` as lifecycle state, not success/failure.
     * - If `status=running`, keep polling `/v1/bash/output` with the returned
     *   `session_id`, `command_id`, `offset`, and `stderr_offset`.
     * - If `status=completed`, check `exit_code`: `0` means success, non-zero
     *   means the command finished but failed.
     * - If `status=timed_out` or `status=killed`, show the current output as a
     *   partial result and surface the command as interrupted.
     * - Empty `stdout` or `stderr` does not mean the command did not run.
     *
     * - async_mode=true: returns immediately with RUNNING status
     * - async_mode=false + timeout: waits up to timeout, then returns RUNNING if not done
     * - async_mode=false + no timeout: waits until command completes
     * - hard_timeout: kills the process after this many seconds
     * - env: extra environment variables for this command only
     *
     * @param {Sandbox.BashExecRequest} request
     * @param {Bash.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bash.exec({
     *         command: "command"
     *     })
     */
    public exec(
        request: Sandbox.BashExecRequest,
        requestOptions?: Bash.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.ResponseBashExecResult, Sandbox.bash.exec.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__exec(request, requestOptions));
    }

    private async __exec(
        request: Sandbox.BashExecRequest,
        requestOptions?: Bash.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<Sandbox.ResponseBashExecResult, Sandbox.bash.exec.Error>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/bash/exec",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseBashExecResult,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.bash.exec.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.bash.exec.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Read output from a bash session using offset-based streaming.
     *
     * `data.command.status` uses the same command-status values as `/v1/bash/exec`:
     * `running`, `completed`, `timed_out`, or `killed`.
     *
     * Recommended consumption pattern:
     * - Start with `/v1/bash/exec`.
     * - If the command is still `running`, call `/v1/bash/output` repeatedly.
     * - Reuse the returned `offset` and `stderr_offset` to fetch only new data.
     * - Stop polling when `data.command.status` is no longer `running`.
     * - Use the final `exit_code` to decide whether the command succeeded.
     *
     * - offset/stderr_offset: byte offsets to read from (use values from previous response)
     * - wait=true: long-poll until new output arrives or wait_timeout
     *
     * @param {Sandbox.BashOutputRequest} request
     * @param {Bash.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bash.output({
     *         session_id: "session_id"
     *     })
     */
    public output(
        request: Sandbox.BashOutputRequest,
        requestOptions?: Bash.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.ResponseBashOutputResult, Sandbox.bash.output.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__output(request, requestOptions));
    }

    private async __output(
        request: Sandbox.BashOutputRequest,
        requestOptions?: Bash.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<Sandbox.ResponseBashOutputResult, Sandbox.bash.output.Error>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/bash/output",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseBashOutputResult,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.bash.output.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.bash.output.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Write input to a bash session's stdin.
     *
     * @param {Sandbox.BashWriteRequest} request
     * @param {Bash.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bash.write({
     *         session_id: "session_id",
     *         input: "input"
     *     })
     */
    public write(
        request: Sandbox.BashWriteRequest,
        requestOptions?: Bash.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.Response, Sandbox.bash.write.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__write(request, requestOptions));
    }

    private async __write(
        request: Sandbox.BashWriteRequest,
        requestOptions?: Bash.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<Sandbox.Response, Sandbox.bash.write.Error>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/bash/write",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.Response,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.bash.write.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.bash.write.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Send a signal to a bash session's process.
     *
     * @param {Sandbox.BashKillRequest} request
     * @param {Bash.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bash.kill({
     *         session_id: "session_id"
     *     })
     */
    public kill(
        request: Sandbox.BashKillRequest,
        requestOptions?: Bash.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.Response, Sandbox.bash.kill.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__kill(request, requestOptions));
    }

    private async __kill(
        request: Sandbox.BashKillRequest,
        requestOptions?: Bash.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<Sandbox.Response, Sandbox.bash.kill.Error>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/bash/kill",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.Response,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.bash.kill.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.bash.kill.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * List all active bash sessions.
     *
     * Session status values:
     * - `ready`: session exists and can accept commands
     * - `closed`: session has been closed and cannot be reused
     *
     * @param {Bash.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bash.sessions()
     */
    public sessions(
        requestOptions?: Bash.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.ResponseListBashSessionInfo, Sandbox.bash.sessions.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__sessions(requestOptions));
    }

    private async __sessions(
        requestOptions?: Bash.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<Sandbox.ResponseListBashSessionInfo, Sandbox.bash.sessions.Error>>
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/bash/sessions",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseListBashSessionInfo,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: Sandbox.bash.sessions.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Create a new bash session.
     *
     * @param {Sandbox.BashSessionCreateRequest} request
     * @param {Bash.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bash.createSession()
     */
    public createSession(
        request: Sandbox.BashSessionCreateRequest = {},
        requestOptions?: Bash.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.ResponseBashSessionInfo, Sandbox.bash.createSession.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__createSession(request, requestOptions));
    }

    private async __createSession(
        request: Sandbox.BashSessionCreateRequest = {},
        requestOptions?: Bash.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<Sandbox.ResponseBashSessionInfo, Sandbox.bash.createSession.Error>>
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/bash/sessions/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseBashSessionInfo,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.bash.createSession.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.bash.createSession.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Close a bash session.
     *
     * @param {string} sessionId
     * @param {Bash.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bash.closeSession("session_id")
     */
    public closeSession(
        sessionId: string,
        requestOptions?: Bash.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.Response, Sandbox.bash.closeSession.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__closeSession(sessionId, requestOptions));
    }

    private async __closeSession(
        sessionId: string,
        requestOptions?: Bash.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<Sandbox.Response, Sandbox.bash.closeSession.Error>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/bash/sessions/${core.url.encodePathParam(sessionId)}/close`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.Response,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.bash.closeSession.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.bash.closeSession.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
