// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as Sandbox from "../../../index.js";

export declare namespace Skills {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Skills {
    protected readonly _options: Skills.Options;

    constructor(_options: Skills.Options) {
        this._options = _options;
    }

    /**
     * @param {Sandbox.BodyRegisterSkills} request
     * @param {Skills.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.skills.registerSkills({
     *         file: fs.createReadStream("/path/to/your/file")
     *     })
     */
    public registerSkills(
        request: Sandbox.BodyRegisterSkills,
        requestOptions?: Skills.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<Sandbox.ResponseSkillRegistrationResult, Sandbox.skills.registerSkills.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__registerSkills(request, requestOptions));
    }

    private async __registerSkills(
        request: Sandbox.BodyRegisterSkills,
        requestOptions?: Skills.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<Sandbox.ResponseSkillRegistrationResult, Sandbox.skills.registerSkills.Error>
        >
    > {
        const _request = await core.newFormData();
        await _request.appendFile("file", request.file);
        if (request.path != null) {
            _request.append("path", request.path);
        }

        if (request.name != null) {
            _request.append("name", request.name);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/skills/register",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseSkillRegistrationResult,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.skills.registerSkills.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.skills.registerSkills.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {Sandbox.SkillsListMetadataRequest} request
     * @param {Skills.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.skills.listMetadata({
     *         names: "names"
     *     })
     */
    public listMetadata(
        request: Sandbox.SkillsListMetadataRequest = {},
        requestOptions?: Skills.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<Sandbox.ResponseSkillMetadataCollection, Sandbox.skills.listMetadata.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__listMetadata(request, requestOptions));
    }

    private async __listMetadata(
        request: Sandbox.SkillsListMetadataRequest = {},
        requestOptions?: Skills.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<Sandbox.ResponseSkillMetadataCollection, Sandbox.skills.listMetadata.Error>
        >
    > {
        const { names } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (names != null) {
            _queryParams.names = names;
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/skills/metadatas",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseSkillMetadataCollection,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.skills.listMetadata.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.skills.listMetadata.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {Skills.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.skills.clearSkills()
     */
    public clearSkills(
        requestOptions?: Skills.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.ResponseDict, Sandbox.skills.clearSkills.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__clearSkills(requestOptions));
    }

    private async __clearSkills(
        requestOptions?: Skills.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<Sandbox.ResponseDict, Sandbox.skills.clearSkills.Error>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/skills",
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseDict,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: Sandbox.skills.clearSkills.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {string} name
     * @param {Skills.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.skills.deleteSkill("name")
     */
    public deleteSkill(
        name: string,
        requestOptions?: Skills.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.ResponseSkillMetadata, Sandbox.skills.deleteSkill.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSkill(name, requestOptions));
    }

    private async __deleteSkill(
        name: string,
        requestOptions?: Skills.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<Sandbox.ResponseSkillMetadata, Sandbox.skills.deleteSkill.Error>>
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/skills/${core.url.encodePathParam(name)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseSkillMetadata,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.skills.deleteSkill.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.skills.deleteSkill.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {string} name
     * @param {Skills.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.skills.getContent("name")
     */
    public getContent(
        name: string,
        requestOptions?: Skills.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<Sandbox.ResponseSkillContentResult, Sandbox.skills.getContent.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__getContent(name, requestOptions));
    }

    private async __getContent(
        name: string,
        requestOptions?: Skills.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<Sandbox.ResponseSkillContentResult, Sandbox.skills.getContent.Error>>
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/skills/${core.url.encodePathParam(name)}/content`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: _response.body as Sandbox.ResponseSkillContentResult,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (!_response.ok && core.isFailedResponse(_response) && _response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    return {
                        data: {
                            ok: false,
                            error: Sandbox.skills.getContent.Error.unprocessableEntityError(
                                _response.error.body as Sandbox.HttpValidationError,
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: Sandbox.skills.getContent.Error._unknown(core.isFailedResponse(_response) ? _response.error : { reason: "unknown", errorMessage: "Unknown error" }),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
