// This file was auto-generated by Fern from our API Definition.

import type * as Sandbox from "../../../../index.js";

/**
 * @example
 *     {
 *         command: "view",
 *         path: "path"
 *     }
 */
export interface StrReplaceEditorRequest {
    /** The commands to run. Allowed options are: `view`, `create`, `str_replace`, `insert`, `undo_edit`. */
    command: Sandbox.Command;
    /** Absolute path to file or directory, e.g. `/workspace/file.py` or `/workspace`. */
    path: string;
    /** Required parameter of `create` command, with the content of the file to be created. */
    file_text?: string;
    /** Required parameter of `str_replace` command containing the string in `path` to replace. */
    old_str?: string;
    /** Optional parameter of `str_replace` command containing the new string (if not given, no string will be added). Required parameter of `insert` command containing the string to insert. */
    new_str?: string;
    /** Required parameter of `insert` command. The `new_str` will be inserted AFTER the line `insert_line` of `path`. */
    insert_line?: number;
    /** Optional parameter of `view` command when `path` points to a file. If none is given, the full file is shown. If provided, the file will be shown in the indicated line number range, e.g. [11, 12] will show lines 11 and 12. Indexing at 1 to start. Setting `[start_line, -1]` shows all lines from `start_line` to the end of the file. */
    view_range?: number[];
    /** Optional parameter of `str_replace` command. When specified, controls how multiple occurrences are handled: 'ALL' replaces all occurrences, 'FIRST' replaces only the first, 'LAST' replaces only the last. If not specified, requires unique match (original behavior). */
    replace_mode?: Sandbox.StrReplaceEditorRequestReplaceMode;
    /** Optional parameter for `view` command on PDF files. Specifies page range [start, end] (1-indexed). E.g., [1, 5] reads pages 1-5. */
    page_range?: number[];
    /** Optional parameter for `view` command on Excel files. Specifies which sheet to read. If not provided, all sheets are returned. */
    sheet_name?: string;
    /** Optional parameter for `view` command on Excel files. Specifies row range [start, end] (1-indexed). E.g., [1, 100] reads rows 1-100. */
    row_range?: number[];
    /** Optional parameter for `view` command on PPTX files. Specifies slide range [start, end] (1-indexed). E.g., [1, 5] reads slides 1-5. */
    slide_range?: number[];
    /** Optional parameter for `view` command. If true, returns file metadata (total pages, sheets, slides, etc.) in the response. */
    enable_metadata?: boolean;
}
